<app-battlefield [battlefield]='battlefield' [pusherChannel]='pusherChannel' [cardWidth]='cardWidth'
[cardHeight]='cardHeight' [currentUsername]='currentUsername' [players]='players' ></app-battlefield>

<div id='decksModal' class='modal' materialize='modal' [materializeParams]='[{dismissible: false}]' [materializeActions]='decksModal'>
  <div class='modal-content'>
    <h4>Decks</h4>
    <a *ngFor='let deck of currentUserDecks' class='modal-action modal-close waves-effect waves-green btn' (click)='selectDeck(deck)'>{{ deck.name }}</a>
  </div>
</div>
