<app-navbar *ngIf='showNavbar'></app-navbar>

<div class='playing-area'>
  <div class='player-areas'>
    <div *ngFor='let player of players.slice(0, players.length/2)' class='player-area'>
      <app-player-area *ngIf='player.deck' [player]='player' [pusherChannel]='pusherChannel'
      [currentUsername]='currentUsername' [battlefield]='battlefield'></app-player-area>
    </div>
  </div>
  <div class='canvas-container'>
    <canvas></canvas>
  </div>
  <div class='player-areas'>
    <div *ngFor='let player of players.slice(players.length/2, players.length)' class='player-area'>
      <app-player-area *ngIf='player.deck' [player]='player' [pusherChannel]='pusherChannel'
      [currentUsername]='currentUsername' [battlefield]='battlefield'></app-player-area>
    </div>
  </div>
</div>

<div>
  <a class='waves-effect waves-light btn modal-trigger' href='#modal1' (click)='openModal()'>Select Deck</a>

  <button class='waves-effect btn' (click)='updatePlayerData()'>Sync board for other players</button>

  <button class='waves-effect btn' (click)='toggleNavbar()'>Toggle Navbar</button>
</div>

<div id='modal1' class='modal' materialize='modal' [materializeParams]='[{dismissible: false}]' [materializeActions]='modalActions'>
  <div class='modal-content'>
    <h4>Decks</h4>
    <a *ngFor='let deck of currentUserDecks' class='modal-action modal-close waves-effect waves-green btn' (click)='selectDeck(deck)'>{{ deck.name }}</a>
  </div>
  <div class='modal-footer'>
    <a class='waves-effect waves-green btn-flat' (click)='closeModal()'>Close</a>
  </div>
</div>
