<div>{{ player.username }}</div>
<div *ngIf='player.deckLockedIn'>Cards: {{ player.library.length }}</div>
<button *ngIf='isCurrentUser && !player.deckLockedIn' class='waves-effect btn' (click)=lockInDeck()>Lock In {{ player.deck.name }}</button>
<img *ngIf='player.deckLockedIn' class='library' (click)='drawCard()' src='{{ cardBackUrl }}'>
<span *ngIf='player.deckLockedIn'>
  <span *ngFor='let card of player.hand'>
    <img *ngIf='isCurrentUser' class='hand' src='{{ card.imageUrls.small }}'>
    <img *ngIf='!isCurrentUser' class='hand' src='{{ cardBackUrl }}'>
  </span>
</span>
