<button *ngIf='isCurrentUser && !player.deckLockedIn' class='waves-effect btn' (click)=lockInDeck()>Lock In {{ player.deck.name }}</button>
<div class='card-zones'>
  <div>
    <div class='nowrap'>
      <div class='small-card'>
        <p>Graveyard: {{ player.graveyard.length }} cards</p>
        <img *ngIf='player.graveyard.length > 0' class='small-card' src='{{ player.graveyard[player.graveyard.length -1].imageUrls.small }}'>
      </div>
      <div>
        <p>Library: {{ player.library.length }} cards</p>
        <img class='small-card' (click)='drawCard()' src='{{ cardBackUrl }}'>
      </div>
    </div>
    <span class='username'>{{ player.username }}</span>
  </div>

  <div class='hand-container'>
    <p>Hand: {{ player.hand.length }} cards</p>
    <div *ngIf='player.hand.length > 0' class='hand'>
      <span *ngFor='let card of player.hand' class='small-card'>
        <img *ngIf='isCurrentUser' class='small-card' (click)='placeCardOnBattlefield(card)' src='{{ card.imageUrls.small }}'>
        <img *ngIf='!isCurrentUser' class='small-card' src='{{ cardBackUrl }}'>
      </span>
    </div>
  </div>
</div>
