.small-card {
  width: 146px;
  height: 204px;
}

.card-zones {
  display: flex;
  p {
    margin: 0
  }
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.username {
  display: flex;
  justify-content: space-around;
}

.hand {
  display: inline-flex;
  overflow-x: scroll;
  border: 8px inset #c9bea8;
}
