<ul class='collection with-header'>
  <li class='collection-header'>
    <h5 class='deck-header'>Decks</h5>

    <button *ngIf='!isAdding && isCurrentUser' class='btn-floating waves-effect green' (click)='showNewDeckForm()'>
      <i class='material-icons'>add</i>
    </button>

    <app-deck-form *ngIf='isAdding && isCurrentUser'></app-deck-form>

    <button *ngIf='isAdding && isCurrentUser' class='btn-floating waves-effect red' (click)='hideNewDeckForm()'>
      <i class='material-icons'>remove</i>
    </button>
  </li>
  <li *ngFor='let deck of decks' class='collection-item'>{{ deck.name }}</li>
</ul>
